@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<mvc_dotnet.Models.Provole>

@{
    ViewData["Title"] = "Screenings";
}

<h1>Screenings</h1>

<p>
    <!--<a asp-action="Create">Create New</a>-->
</p>
<table class="table table-hover">
    <thead>
       
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cinemas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ContentAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Movies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DatetimeColumn)
            </th>            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinemas.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentAdmin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movies.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatetimeColumn)
            </td>  

            <td>
                    
            <td>
                <!--<a asp-action="Edit" asp-route-CinemasId="@item.CinemasId" asp-route-MoviesId="@item.MoviesId" asp-route-MoviesName="@item.MoviesName">Edit</a> |-->
                <a asp-action="Details" asp-route-CinemasId="@item.CinemasId" asp-route-MoviesId="@item.MoviesId" asp-route-MoviesName="@item.MoviesName">Details</a> |
                <!--<a asp-action="Delete" asp-route-CinemasId="@item.CinemasId" asp-route-MoviesId="@item.MoviesId" asp-route-MoviesName="@item.MoviesName">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
<nav>
    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
{
    ActiveLiElementClass = "active",
    PageClasses = new[] { "page-link" },
    LiElementClasses = new[] { "page-item" },
    UlElementClasses = new[] { "pagination", "justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,

})
</nav>
