@model mvc_dotnet.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hello customer <i>@Html.DisplayFor(model => model.UserUsername)</i>! </h4>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserUsernameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserUsernameNavigation.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Home">Go back to home page</a>
</div>
<h1>Your Reservations</h1>
<table class="table">
    <tr>
        <th>
            Number of Seats
        </th>
        <th>
            Cinemas
        </th>
        <th>
            Movies Name
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Reservations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provoles.Cinemas.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provoles.MoviesName)
            </td>
            <td>
                <a asp-controller="Reservations" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Reservations" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

